# Bazel output
bazel-*
build/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/

# Editors/OS
.idea/
.vscode/
.DS_Store

# Local overrides
.env

.cache/

app-data/
