version: "3"
services:
  redis:
    image: docker.io/library/redis:7-alpine
    container_name: buildbuddy-redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./redis-data:/data:Z
    restart: unless-stopped

  buildbuddy-app:
    image: gcr.io/flame-public/buildbuddy-app-enterprise:latest
    container_name: buildbuddy-app
    ports:
      - "1985:1985"
      - "8080:8080"
    volumes:
      - ./buildbuddy.app.yaml:/config.yaml:ro,Z
      - ./app-data:/data:Z
    restart: unless-stopped
    depends_on:
      - redis

  buildbuddy-executor:
    image: gcr.io/flame-public/buildbuddy-executor-enterprise:latest
    container_name: buildbuddy-executor
    privileged: true
    volumes:
      - ./buildbuddy.executor.yaml:/config.yaml:ro,Z
      - ./executor-data:/data,Z
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:rw,z
      - ./executor-docker-config.json:/root/.docker/config.json:ro,Z
    depends_on:
      - buildbuddy-app
    restart: unless-stopped
